.homepage-div{
  display: flex;
}

.logo{
  height: 110vh;
  margin-top: -7vh;
   animation: swing 3s ease-in-out infinite alternate;
  transform-origin: center;
}

.logo-div{
 background: linear-gradient(135deg, darkorange 0%, beige 110%);
  width: 50%;
  display: flex;
  justify-content: center;
}

.title-div{
  display: flex;
  flex-direction: column;
  width: 50%;
 background: linear-gradient(45deg, beige 40%, goldenrod 130%);
 align-items: center;

 

}

.title{
  font-size: 5rem;
  text-align: center;
  color: #e87800;
  font-weight: 500;
  margin-top: 15vh;
}

.btn{
  background-color: darkorange;
  border: none;
  border-radius: 1.5vh;
  height: 4vh;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
   padding: 1vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.text{
  text-align: center;
  font-size: 2rem;
 
}
.btn:hover{
  background-color: black;
  color: darkorange;
  
}

.buttons{
  display: flex;
  gap: 3vh;
  justify-content: center;
}
@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}